@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Simonetta|Lora|PT+Serif|Assistant');

html, body {
  margin: 0;
  padding: 0; 
  height: 100%;
  width: 100%;
  background-color: #afb5cc;
}

.top {
  /*photo credit: Kumar Ganapathy*/
  background: url('/src/ganapathy-kumar-113604.jpg') #fff;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Lora';
  padding-top: 30px;
}

.tagline {
  color: #fff;
  width: 480px;
  float: right;
  position: absolute;
  top: 40px;
  right: 200px;
}

.tagline blockquote {
  width: 560px;
  font: 43px 'Simonetta';
  letter-spacing: 1px;
  float: left;
  border-top: 1px dashed #455089;
  border-bottom: 1px dashed #455089;
  border-left: none;
  padding: 50px 0px 25px 30px;
}

.tagline blockquote:first-line {
  font: 75px 'Lora';
  color: #c7edcd;
}

.tagline blockquote:first-letter {
  font-size: 220px;
  text-transform: uppercase;
  float: left;
  line-height: 130px;
  margin-right: -3px;
  position: relative;
  z-index: 1;
}

.tagline blockquote strong:first-child {
  margin-left: 10px;
  letter-spacing: 0px;
}

.tagline blockquote strong:last-child {
  font: 50px 'Cambria';
  text-transform: uppercase;
  letter-spacing: 0px;
}

span {
  float: right;
  margin: -2px -40px 0px 0px;
  font: 25px 'Lora';
  color: #455089;
  letter-spacing: 1px;
}

.polaroid {
  margin-top: 30px;
  text-align: center;
  width: 250px;
  height: 290px;
  background-color: white;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

.polaroid:hover {
  transform: scale(1.1) rotate(-2deg);
  -webkit-transform: scale(1.1) rotate(-2deg);
  -moz-transform: scale(1.1) rotate(-2deg);
}

.polaroid img {
  width: 90%;
  height:auto;
  margin: 15px 0px 0px 0px;
}

.polaroid h1 {
  font: 18px 'Permanent Marker';
  background: -webkit-linear-gradient(#080808, #707070);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: .6em;
}

.about-me {
  background-color: #ffffff;
  padding-bottom: 30px;
}

.about-me article {
  width: 85%;
  height: auto;
  font: 1em 'Assistant', sans-serif;
  color: #101010;
  background-color: #ffffff;
  margin:auto; 
}

.about-me article h1{
  font: 2em 'Cambria';
  text-align: center;
  color: #101010;
  border-bottom: .01em dashed;
  margin-top: 1em;
}

.about-me article p {
  width: 100%;
  font: 3em 'Lora';
  display: inline-block;
  color:#afb5cc; 
  text-align: right;
  margin: -1em 0em 0em 0em;
}

.projects {
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  font: 2em 'Permanent Marker';
  line-height: 300px;
}

#project1 {
  background-image: url('https://github.com/LizDominguez/Wikipedia-Viewer/raw/master/Preview.png');
  background-size: cover;
  height: 260px;
}

#project1:hover {
  opacity: 0.5;
}

#project2 {
  background-image: url('https://github.com/LizDominguez/Senior-Design/raw/master/adopt-preview.png');
  background-size: cover;
  height: 260px;
}

#project2:hover {
  opacity: 0.5;
}

#project3 {
  background-image: url('https://github.com/LizDominguez/Weather-App/raw/master/Preview.png');
  background-size: cover;
  height: 260px;
}

#project3:hover {
  opacity: 0.5;
}

footer {
  height: 200px;
  width: 300px;
  text-align: center;
  padding-top: 3em;
  margin: auto;
}

footer h1{
  color: #fefffa;
  font: 2em 'Cambria';
  text-align: center;
  border-bottom: .01em dashed;
  margin: auto;
}

footer ul {
  display:inline-block;
  padding: 0em;
}
 
footer ul li {
  list-style-type: none;
  float: left;
}
 
footer ul li a i {
  background-color: #afb5cc;
  color: #fefffa;
  width: 2em;
  height: 1.5em;
  border-radius: 1em;
  font-size: 2.5em !important;
  text-align: center;
  margin-top: .5em;
}

footer ul li a i:hover {
  transition: all 0.2s ease-in-out;
  opacity: .7;
}

footer p {
  color: #b2b9d2;
  font: .8em 'Assistant';
}
