/*Mobile First*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand|Work+Sans|Montserrat:100|Caveat');

html, body {
  margin: 0;
  padding: 0; 
}

body {
  background-color: #fafafa;
  text-align: center;
  color: #000;
  font-family: 'Quicksand';
}

#particle-canvas {
  padding: 0;
  margin: 0 auto;
  height: 330px;
}

header {
  height: 250px;
  padding: 15px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  text-align: right;
  margin: 20px 0px 20px 0px;
}

nav a, footer a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #01a2a6;
}

#menu {
  padding: 0;
  margin: -10px 0px 0px 0px;
  float: right;
}

#menu a {
  display: block;
  cursor: pointer;
}

#dropdown { 
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: none;
}

/*
#menu:hover #dropdown{
   display : block;
}
*/

.show {
  display : block;
}

nav img {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 50px;
}

h1 {
  font: 40px 'Playfair Display';  
  margin: 0 auto;
  color: #01a2a6;
}

blockquote {
  width: 100%;
  color: #fff;
  margin: 10px 0px 25px 0px;
  float: left;
}

i {
  float: center;
  text-decoration: none;
  color: #e7e5e7;
  width: 40px;
  height: 50px;
  font-size: 30px !important;
  text-align: center;
}

footer a:hover, i:hover, button:hover {
  transition: all 0.2s ease-in-out;
  opacity: .2;
  cursor: pointer;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 50px;
  background: none;
  border: none;
  background-color: #bdf25d;
  color: #fff;
  font-size: 15px;
}

div {
  padding: 30px;
}

.about {
  margin: 0px auto;
  padding: 0px 0px 20px 0px;
  width: 100%;
  color: #8f8f8f;
}

.about img{
  width: 30%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  position: relative;
  margin: 30px 0px 10px 0px;
}

b {
  width: 100%;
  font: 25px 'Playfair Display';
  text-transform: uppercase;
  display: block;
  color: #01a2a6;
}

.about p {
  font-size: .9em;
  padding: 0px 10% 0px 10%;
  text-align: justify;
  float: center;
}


h2 {
  color: #01a2a6;
  text-transform: uppercase;
  font: 25px 'Playfair Display';
  padding: 0px 0px 0px 0px;
}

h3 {
  font-size: 15px;
}

.skills {
  background-color: #fff;
  color: #8f8f8f;
  padding: 30px 0px 60px 0px;
}

.progress {
  background-color: #01a2a6;
  height: 20px;
  width: 300px;
  margin: 0 auto;
  padding: 0px;
}

span {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #29d9c2;
  text-align: right;
  color: #fff;
  font: 17px 'Work Sans';
  padding-right: 5%;
}

#html {
  width: 85%;
}

#javascript {
  width: 65%;
}

#mongo {
  width: 45%;
}

#express {
  width: 45%;
}

#node {
  width: 45%;
}

#c {
  width: 75%;
}

#wordpress {
  width: 65%;
}

.education {
  background-color: #f5f5f5;
  color: #8f8f8f;
  padding: 40px 0px 40px 0px;
}

strong {
  color: #01a2a6;
}

h4 {
  line-height: 0px;
}

.experience {
  background-color: #f0f0f0;
  color: #8f8f8f;
}

.container {
  padding: 0;
}

.projects {
  padding: 30px 0px 30px 0px;
  margin: 0 auto;
  width: 100%;
  font-size: .9em;
}

.projects h2 {
  margin-bottom: -10vw;
}

.more-projects {
  margin: 15vw 0px -5vw 0px;
}

.more-projects a {
  color: #01a2a6;
  text-decoration: none;
  font-size: 15px;
}

.project {
  margin: 10%;
  padding: 15px 8px 0px 8px;
  float: center;
  width: 80%;
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 8px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 8px -1px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 8px -1px rgba(0,0,0,0.1);
  text-align: center;
}

h5 {
  font: 20px 'Playfair Display';
  margin: 0px 0px 20px 0px;
  padding: 0;
  text-align: left;
}

.project img {
  width: 100%;
}

.project p {
  text-align: left;
  padding: 0px 10px 0px 10px;
  height: 100px;
  overflow: auto;
}

.project button {
  margin: 0px 3% 20px 3%;
}

.games {
  background-color: #f0f0f0;
  padding: 30px 0px 30px 0px;
  margin: 0 auto;
  width: 100%;
  font-size: .9em;
}

.more-games a {
  color: #01a2a6;
  text-decoration: none;
  font-size: 15px;
}

.btn-game {
  background-color: #01a2a6;
}

footer {
  background-color: #171833;
  color: #fff;
  padding: 30px 0px 30px 0px;
}

footer i {
  width: 10px;
  height: 10px;
  font-size: 25px !important;
}

footer p {
  text-align: center;
  padding-top: 10px;
}

footer a {
  color: #29d9c2;
}



@media screen and (min-width: 700px) {
  
  .about {
    margin: 30px 0px 30px 0px;
    min-height: 230px;
  }
  
  b {
    text-align: left;
  }
  
  
  .about img {
    width: 200px;
    height: auto;
    float: left;
    margin: 20px 5vw 50px 5vw;
    border-radius: 0%;
  }
  
  .container {
    float: left;
    width: 55%;
    position: static;
  }
  
  .skills {
    float: left;
    width: 45%;
    position: static;
  }
  
  .education {
    padding: 90px 0px 90px 0px;
    float: left;
    width: 100%;
  }
  
 .experience {
   padding: 75px 0px 74px 0px;
   float: left;
   width: 100%;
  }
  
  .projects h2 {
    margin-top: 580px;
  }
  
  .more-projects {
    margin: 100px 0px 10px 0px;
  }
  
  .project {
    margin-top: 0px;
  }
  
  .project p {
    padding: 5% 10% 0% 5%;
  }
  
  footer {
    padding: 40px 0px 40px 0px;
  }
  
}



@media screen and (min-width: 800px) and (max-width: 1199px){ 

  .project {
    max-width: 40%;
    margin: 1%;
  }
  
  .more-projects {
    margin: 12% 0px 50px 0px;
  }
  
  .more-games {
    margin: 10px 0px 50px 0px;
  }
  
  .projects-flex {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
  }
  
}


@media screen and (min-width: 1200px) {
  
  header {
    padding-left: 10%;
    width: 85%;
  }
  
  .about p {
    padding: 10px 30% 0px 10%;
  }
  
  .more-projects {
    margin: -20px 0px 30px 0px;
  }
  
  .more-games {
    margin: 10px 0px 50px 0px;
  }
  
  .project {
    max-width: 30%;
    margin: 1%;
  }
  
  .projects-flex {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .projects h2 {
  margin-bottom: 3vw;
  }
  
}



